.flex-modal-parent {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 0;
  min-width: 0;
}

.flex-modal-child {
   margin: 15px;
   width: 300px;
   flex-basis: 200px;
   flex-grow: 1
}

.flex-modal-icon {
   margin: 0px;
   flex-grow: 1
}

.flex-modal-check {
   margin: 5px;
   flex-basis: 80px;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 7% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#closeModal {
    border: 1px solid rgba(255,255,255,0.75);
    background-color: rgba(20,20,20,0.75);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    float: right;
    margin-top: 3px;
    margin-right: 3px;
    font-size: 18px;
}

#closeModal:hover,
#closeModal:focus {
    text-decoration: none;
    cursor: pointer;
}

@media(max-width:900px) {
   #closeModal {
      font-size: 12px;
   }

   .modal-content {
      margin: 9% auto;
       width: 90%;
   }
}

.btn {
 /* display: inline-block; */
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  padding-right: 12px;
  padding-left: 12px;
}

.upload-btn {
    background: 0;
    border: 1px solid #000;
    margin-top: 10px;
    color: #000;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-transition: background ease-out 500ms;
    -moz-transition: background ease-out 500ms;
    -o-transition: background ease-out 500ms;
    transition: background ease-out 500ms;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none; 
    opacity: 1;
}

.trackers {
   width: 80px;
}
