/*! Kuler D3 by Benjamin Knight */

html {
    min-height: 100%
}
body {
    background: black;
    margin: 0 auto
}
.colorwheel {
    position: relative;
    overflow: hidden
}
.wheel {
    position: relative;
    z-index: 1;
    display: block;
    width: 400px;
    height: 400px;
    margin: 60px auto 0
}
.wheel__marker:first-child circle {
    stroke-opacity: 1;
    stroke-width: 5px
}
.wheel__marker text {
    text-shadow: 1px 1px 1px #000, 0 0 3px rgba(0, 0, 0, 0.25)
}
[data-mode=Shades] .wheel__marker text {
    display: none
}
.theme {
    display: flex;
    text-align: center;
    max-width: 350px;
    min-width: 250px;
    margin: 10px auto 0
}
.theme__swatch {
    flex: 1;
    padding: 0 0.6% 20px
}
.theme__swatch input {
    opacity: 0.3
}
.theme__swatch:hover input {
    opacity: 0.75
}
.theme__color {
    position: relative;
    border-radius: 50%;
    padding-top: 100%;
    box-shadow: 2px 2px 2px black
}
.theme__slider {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0 15px;
    -webkit-appearance: none;
    outline: none;
    background: transparent
}
.theme__value {
    outline: none;
    width: 100%;
    border: none;
    font-family: Monaco, monospace;
    text-align: center;
    background: transparent;
    color: white
}
::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 4px;
    border: none;
    margin: 1em 0;
    background: #000;
    color: #fff
}
::-moz-range-track {
    height: 4px;
    border: none;
    margin: 1em 0;
    background: #000;
    color: #fff
}
::-ms-track {
    height: 4px;
    border: none;
    margin: 1em 0;
    background: #000;
    color: #fff
}
::-ms-fill-lower,
::-ms-fill-upper,
::-ms-ticks-before,
::-ms-ticks-after,
::-ms-tooltip {
    display: none
}
::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -12px;
    background: black;
    border: 2px solid #fff;
    height: 25px;
    width: 25px;
    border-radius: 99px;
    cursor: ew-resize
}
::-moz-range-thumb {
    background: black;
    border: 2px solid #fff;
    height: 25px;
    width: 25px;
    border-radius: 99px;
    cursor: ew-resize
}
::-ms-thumb {
    background: black;
    border: 2px solid #fff;
    height: 25px;
    width: 25px;
    border-radius: 99px;
    cursor: ew-resize
}
