#overview { position: absolute; left: 100px; top: 50px; width: 1000px; padding: 10px; display: none; text-align: left; }
#presentation { position: absolute; left: 100px; top: 50px; width: 1000px; height: 300px; padding: 10px; text-align: left; }
#details { position: absolute; left: 430px; top: 370px; width: 200px; height: 25px; padding: 10px; text-align: left; }
#pts { position: relative; left: 0px; top: 20px; width: 1000px; height: 900px; padding: 10px; text-align: left; }
#playerScatter { height: 400; }
#playerScatter_legend { height: 180; }

#control { position: absolute; left: 0px; top: 10px; cursor: pointer; opacity: 0.9 }

#caption { position: absolute; width: 600; top: 10px; left: 0px; height: 50px; background-color: white }
#updatePlayer { position: absolute; top: 0px; left: 30px; }
#year { position: absolute; top: 0px; left: 220px; } 

.player_name { font-family: Lato, Arial, sans-serif; font-size: 1.5em; margin-left: 1em }
#highlight { 
   width: 150px; height: 28px; padding: 10px 10px; font-size: 14px; line-height: 14px; border: 2px solid #ccc; background-color: #fff;
  -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; outline: none;
}

