#pointDistributions { position: relative; padding: 0px 0px; }
#playerPresentation { position: absolute; left: 20px; top: 40px; }

#overview { position: absolute; left: 100px; top: 50px; width: 800px; padding: 10px; display: none }

#caption { position: absolute; width: 300; top: 10px; left: 0px; height: 50px; background-color: white }
#updatePlayer { position: absolute; top: 0px; left: 30px; }
#year { position: absolute; }
#control { position: absolute; left: 0px; top: 10px; cursor: pointer; opacity: 0.9 }

.player_name { font-family: Lato, Arial, sans-serif; font-size: 1.5em; margin-left: 1em }

